.tabs-scroll{
    overflow-x:auto;
    overflow-y:hidden;

    scrollbar-width:none;
    -ms-overflow-style:none;

    scroll-behavior:smooth;
}

.tabs-scroll::-webkit-scrollbar{
    display:none;
}

@media (max-width:768px){

    .tabs-scroll{

        -webkit-mask-image:linear-gradient(
            to right,
            transparent,
            black 16px,
            black calc(100% - 16px),
            transparent
        );

        mask-image:linear-gradient(
            to right,
            transparent,
            black 16px,
            black calc(100% - 16px),
            transparent
        );

    }

}